### Print

In [ ]:
import sys
import time

# Print multiple values with custom separator
print("Python", "is", "fun", sep=" üêç ")

# Print without automatic newline
print("Loading", end="... ")
time.sleep(1)
print("done!")

# Print with file redirection
with open("log.txt", "w") as f:
    print("This line goes into a file, not console!", file=f)

# Print with immediate flush (useful for real-time logs/progress bars)
for i in range(3):
    print(f"Step {i+1}", end=" ", flush=True)
    time.sleep(0.5)

sep=" üêç " ‚Üí joins multiple arguments with a custom separator.

end="... " ‚Üí replaces the default newline (\n) with a custom string.

file=f ‚Üí sends output to a file instead of console.

flush=True ‚Üí forces output to appear immediately (important in logs, progress bars).

Membership and Identity

In [ ]:
a = [1, 2, 3]
b = a
c = [1, 2, 3]

print(a is b)      # True  (b points to the same object as a)
print(a is c)      # False (c has the same values, but it‚Äôs a different object in memory)
print(a == c)      # True  (values are the same even if identity is different)

Use membership (in, not in) when checking if something exists in a sequence.

Use identity (is, is not) when checking if two variables point to the same object in memory.

## List

In [ ]:
# List of student scores
scores = [78, 85, 92, 67, 88, 92, 70]

# Add a new score
scores.append(95)

# Sort scores (ascending)
scores.sort()

# Remove duplicates by converting to set and back to list
unique_scores = list(set(scores))

print("All scores:", scores)
print("Unique scores:", unique_scores)
print("Top 3 scores:", scores[-3:])

## Set

In [ ]:
# Interests of two people
alice_interests = {"reading", "traveling", "coding", "music"}
bob_interests   = {"sports", "music", "coding", "movies"}

# Find common interests
common = alice_interests & bob_interests

# Find unique to Alice
unique_alice = alice_interests - bob_interests

print("Common Interests:", common)
print("Unique to Alice:", unique_alice)
print("All Interests:", alice_interests | bob_interests)

## Tuple

In [1]:
# Coordinates of cities (latitude, longitude)
city_coordinates = (
    ("New York", (40.7128, -74.0060)),
    ("London", (51.5074, -0.1278)),
    ("Tokyo", (35.6895, 139.6917))
)

# Accessing values
for city, coord in city_coordinates:
    print(f"{city} is at latitude {coord[0]} and longitude {coord[1]}")

New York is at latitude 40.7128 and longitude -74.006
London is at latitude 51.5074 and longitude -0.1278
Tokyo is at latitude 35.6895 and longitude 139.6917

## Dict

In [2]:
# Employee database
employees = {
    101: {"name": "Alice", "role": "Engineer", "salary": 70000},
    102: {"name": "Bob", "role": "Manager", "salary": 85000},
    103: {"name": "Charlie", "role": "Analyst", "salary": 65000}
}

# Add a new employee
employees[104] = {"name": "Diana", "role": "Engineer", "salary": 72000}

# Update salary
employees[101]["salary"] += 5000

# Find all engineers
engineers = [emp["name"] for emp in employees.values() if emp["role"] == "Engineer"]

print("Updated Employee Database:", employees)
print("Engineers in the company:", engineers)

Updated Employee Database: {101: {'name': 'Alice', 'role': 'Engineer', 'salary': 75000}, 102: {'name': 'Bob', 'role': 'Manager', 'salary': 85000}, 103: {'name': 'Charlie', 'role': 'Analyst', 'salary': 65000}, 104: {'name': 'Diana', 'role': 'Engineer', 'salary': 72000}}
Engineers in the company: ['Alice', 'Diana']

# Assignment

### Problem Statement

Design a Python-based Mini Social Media Management System using the core data structures: List, Set, Tuple, and Dictionary. Each must represent real-world social media data.


### Requirements & Expectations

#### List ‚Äì Manage a user‚Äôs posts (likes count or captions).

Add new posts.

Sort posts by likes to find the top 3 most liked posts.


#### Set ‚Äì Represent a user‚Äôs unique followers.

Find mutual followers between two users.

Find followers unique to one user.


#### Tuple ‚Äì Store profile information (username, join date, country).

Immutable once defined.

Print profile details in a readable format.


#### Dictionary ‚Äì Store the user database.

Each user ID maps to a profile:

{
  "name": str,
  "followers": set,
  "posts": list,
  "profile": tuple
}



##### Functions:

Add a new user.

Update posts (add likes or captions).

Find all users with a given mutual follower.